<div class="card">
    <p-table [value]="frutasDataModal" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
                <th>Precio Unitario</th>
                <th>Fecha Ingreso</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-FrutaData>
            <tr>
                <td>{{ FrutaData.idFruta }}</td>
                <td>{{ FrutaData.nombreFruta }}</td>
                <td>
                    <div [ngClass]="{'outofstock': FrutaData.cantidad === 0, 'lowstock': (FrutaData.cantidad > 0 && FrutaData.cantidad < 10),'instock': FrutaData.cantidad > 10}">
                        {{FrutaData.cantidad}}
                    </div>
                </td>
                <td>{{ FrutaData.proveedor }}</td>
                <td>{{ FrutaData.precioUnitario }}</td>
                <td>{{ FrutaData.fechaIngreso }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
