<section class="container1 mx-auto p-4">
    <p-card [style]="{ overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card"[style]="{ width: '100%', height: '100%'}" class="w-full" src="/assets/images/img2.png" />
        </ng-template>
        <ng-template #title class="header"> Bienvenido </ng-template>
        <ng-template #subtitle> Crud UI Frutas </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <ng-template #footer>
            <div class="container2">
                <p-button label="Ver más" class="w-full" styleClass="w-full" routerLink="/administracion-frutas"/>
            </div>
        </ng-template>
    </p-card>
</section>
    