.container1 {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
::ng-deep .p-card-header {
  height: 50%;
}
::ng-deep .p-card {
  background-color: #121212;
  height: 30rem;
  width: 40rem;
  align-self: center;
}
.container2{
  display: flex;
  justify-content: center;
}
.container3{
  display: flex;
  justify-content: center;
}